brillianideas/ux/xsd/Learning.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="learningType" final="restriction" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="youtube" />
      <xs:enumeration value="video" />
      <xs:enumeration value="website" />
      <xs:enumeration value="podcast" />
      <xs:enumeration value="seriousGame" />
      <xs:enumeration value="application" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Learning">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Title"/>
        <xs:element type="xs:string" name="Description"/>
        <xs:element name="Source">
          <xs:complexType>
            <xs:sequence>
			  <xs:choose>
				  <xs:element name="URI">
					<xs:complexType>
					  <xs:attribute type="xs:boolean" name="embedded" />
					  <xs:attribute type="xs:anyURI" name="src" />
					</xs:complexType>  
				  </xs:element>
				  <xs:element name="Video">
				    <xs:complexType>
					  <xs:attribute type="xs:boolean" name="embedded" />
					  <xs:attribute type="xs:string" name="id" />
					</xs:complexType>
				  </xs:element>
				  <xs:element name="App">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Android">
								<xs:complexType>
									<xs:attribute type="xs:string" name="id" />
								</xs:complexType>
							</xs:element>
							<xs:element name="iOS">
								<xs:complexType>
									<xs:attribute type="xs:string" name="id" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				  </xs:element>
			  </xs:choose>
              <xs:element type="xs:string" name="Author"/>
              <xs:element type="xs:string" name="Copyright"/>
              <xs:element type="xs:date" name="Stand" />
              <xs:element type="xs:duration" name="Duration" minOccurs="0" maxOccurs="1" />
              <xs:element name="Thumbnail">
                <xs:complexType>
                   <xs:attribute type="xs:anyURI" name="src"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:boolean" name="certificateCosts" minOccurs="0" maxOccurs="1" nillable="true" />
            </xs:sequence>
            <xs:attribute type="learningType" name="type"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="MetaInformation">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Class"/>
              <xs:element type="xs:string" name="Professor" minOccurs="0" maxOccurs="1"/>
              <xs:element type="guid" name="Recommended" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="guid" name="guid"/>
      <xs:attribute type="xs:boolean" name="cost"/>
      <xs:attribute type="xs:boolean" name="offerLimited"/>
    </xs:complexType>
  </xs:element>
</xs:schema>