brilliancrm/src/org/dhbw/imbit11/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="to">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Mr Spex"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="col">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Phase 1"/>
				<xs:enumeration value="Phase 2"/>
				<xs:enumeration value="Phase 3"/>
				<xs:enumeration value="Phase 4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="img">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="images/lalala.jpg"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="2014-04-04 17:21:34"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="from">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Harald"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="from"/>
					<xs:element ref="to"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="date"/>
							<xs:element ref="subject"/>
							<xs:element ref="content" maxOccurs="unbounded"/>
							<xs:element ref="option" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="subject"/>
							<xs:element ref="content"/>
							<xs:element ref="attachment"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="title"/>
					<xs:element ref="description"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="col" maxOccurs="unbounded"/>
							<xs:element ref="option" maxOccurs="unbounded"/>
							<xs:element ref="interval" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:element ref="option" maxOccurs="unbounded"/>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="content"/>
					<xs:element ref="img"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="partner"/>
					<xs:element ref="date"/>
					<xs:element ref="title"/>
					<xs:element ref="content"/>
					<xs:element ref="option" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1-00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="loc" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="level" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="imcost" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="imqual" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="imtime" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="-10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="option" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="parent" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0-00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="children" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2-00,2-01,2-02"/>
						<xs:enumeration value="2-00,2-01,2-02 "/>
						<xs:enumeration value="2-00,2-01,2-02,2-03"/>
						<xs:enumeration value="2-00,2-01,2-02,2-03 "/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="eventtype" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
						<xs:enumeration value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Auswahl"/>
				<xs:enumeration value="Auswahl mit Bild"/>
				<xs:enumeration value="Dialogelement"/>
				<xs:enumeration value="Zuordnung mit fixem Outcome"/>
				<xs:enumeration value="Zuordnung mit variablem Outcome"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="events">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="option">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="img">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="images/cheapassistant.jpg"/>
								<xs:enumeration value="images/effectiveassistant.jpg"/>
								<xs:enumeration value="images/hotassistant.jpg"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="href">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="2-00"/>
								<xs:enumeration value="2-01"/>
								<xs:enumeration value="2-01 "/>
								<xs:enumeration value="2-02"/>
								<xs:enumeration value="2-03"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="rank">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="fdesc">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Important    Task"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="finfo">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=" documents/Task6.pdf"/>
								<xs:enumeration value=" documents/Task7.pdf"/>
								<xs:enumeration value="documents/Task1.pdf "/>
								<xs:enumeration value="documents/Task2.pdf"/>
								<xs:enumeration value="documents/Task3.pdf"/>
								<xs:enumeration value="documents/Task4.pdf"/>
								<xs:enumeration value="documents/Task5.pdf"/>
								<xs:enumeration value="documents/Tasketc.pdf"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="value">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="5"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="column">
						<xs:simpleType>
							<xs:restriction base="xs:byte">
								<xs:enumeration value="1"/>
								<xs:enumeration value="2"/>
								<xs:enumeration value="3"/>
								<xs:enumeration value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="content" type="xs:string"/>
	<xs:element name="partner">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="B. R. Stylus, Head of Sales"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="subject">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Fozissle"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="interval">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_interval">
					<xs:attribute name="href" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="2-00"/>
								<xs:enumeration value="2-01"/>
								<xs:enumeration value="2-02"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="attachment">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://www.google.de"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Hier sollen sie etwas sinvolles tun"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_interval">
		<xs:restriction base="xs:string">
			<xs:enumeration value="100"/>
			<xs:enumeration value="151"/>
			<xs:enumeration value="99to150"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
